/* CORE */

:root {
	--background: #f7f7f7;

	--ultraBright: #ddd;
	--bright: #ccc;
	--dark: #888;
	--ultraDark: #333;
	
	--timerRed: #b92d2d;
	--timerYellow: #dca32d;
	--timerGreen: #4db52f;

	--radius: 7px;
	--screenTransition: 1s;
	--elementTransition: 0.5s;
}

html {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	font-weight: 400;
	padding: 0;
	margin: 0;
	background-color: black;
}

*,:before,:after {
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Roboto";
	background-color: var(--background);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-moz-selection {
	color: black;
	background: var(--bright);
}

::selection {
	color: black;
	background: var(--bright);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--bright);
}

/* SCREENS */

#main {
	width: 100%;
	height: 100%;
	padding: 150px;
}

#intro,
#preparation,
#exercise,
#results {
	display: none;
	width: 100%;
	height: 100%;
	transition: opacity var(--screenTransition) ease;
	opacity: 0;
	font-size: 0;
}

#intro {
	display: inline-block;
	opacity: 1;
}

/* INTRO */

#introTitle,
#infoTitle,
#resultTitle {
	display: inline-block;
	width: 100%;
	font-size: 110px;
	font-weight: 700;
	margin-bottom: 40px;
	color: var(--ultraDark);
}

#introDescription,
#resultDescription {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-bottom: 40px;
	color: var(--dark);
}

#resultDescription {
	opacity: 0;
	transition: opacity var(--screenTransition) ease;
}

#exerciseList,
#optionsList {
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--bright) var(--ultraBright);
	opacity: 1;
	transition: opacity var(--screenTransition) ease;
	font-size: 16px;
}

/* INFO */

#info {
	position: fixed;
	bottom: 10px;
	left: 10px;
	text-decoration: none;
	font-size: 12px;
	transition: color var(--elementTransition) ease;
	color: var(--bright);
}

#info:hover {
	color: var(--dark);
	cursor: pointer;
}

#infoBox {
	display: none;
	flex-direction: column;
	position: absolute;
	width: calc(100% - 300px);
	height: calc(100% - 300px);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	padding: 20px;
	z-index: 2;
	transition: opacity var(--screenTransition) ease;
	opacity: 0;
}

#infoTitleHolder {
	display: flex;
}

#infoTextHolder {
	display: flex;
	overflow-y: auto;
}

#infoText {
	margin: 0;
	color: var(--dark);
	font-size: 16px;
}

.infoLink {
	color: var(--ultraDark);
}

/* LISTS */

#optionsList {
	display: none;
	opacity: 0;
}

#exerciseList::-webkit-scrollbar {
	width: 6px;
	background-color: var(--background);
}

#exerciseList::-webkit-scrollbar-thumb {
	background-color: var(--bright);
}

#introButtons {
	display: inline-block;
	width: 100%;
	text-align: center;
}

#optionsPlan,
#start {
	display: inline-flex;
	width: 100px;
	height: 50px;
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	color: var(--dark);
	font-size: 16px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	transition: background-color var(--elementTransition) ease;
}

#start:hover {
	background-color: var(--bright);
	cursor: pointer;
}

#optionsPlan {
	background-color: transparent;
	border: 1px solid var(--bright);
	color: var(--bright);
	transition: color var(--elementTransition) ease;
	margin-right: 10px;
}

#optionsPlan:hover {
	color: var(--dark);
	cursor: pointer;
}

#musclesWarning {
	display: inline-block;
	font-size: 14px;
	color: var(--bright);
}

.listElement {
	display: inline-block;
	width: 100%;
	min-height: 35px;
	margin-bottom: 20px;
	vertical-align: top;
}

.fluidField,
.fluidDropdown,
.fluidLeftButton,
.fluidComma,
.fluidText,
.checkBox {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	margin-right: 10px;
	height: 35px;
	color: var(--dark);
	vertical-align: top;
}

.fluidField,
.fluidDropdown {
	border: none;
	background-color: transparent;
	line-height: normal;
	text-align: center;
	
}

.fluidField {
	border: none;
	background-color: transparent;
	line-height: normal;
	text-align: center;
	width: 30px;
}

.fluidField:focus,
.fluidField:focus-visible {
	outline: none;
}

.fluidField,
.fluidDropdown {
	border-bottom: solid 1px var(--dark);
}

.fluidText {
	line-height: 35px;
}

.fluidComma {
	line-height: 60px;
}

.fluidLeftButton {
	position: relative;
	width: 25px;
	height: 25px;
	top: 5px;
	line-height: 20px;
	margin-right: 15px;
	border: 1px solid var(--bright);
	border-radius: var(--radius);
	color: var(--bright);
	transition: color var(--elementTransition) ease;
}

#exerciseAdd {
	display:  flex;
	position: relative;
	width: 25px;
	height: 25px;
	left: 50%;
	margin-bottom: 20px;
	transform: translate(-50%, 0%);
	align-items: center;
	justify-content: center;
	border: 1px solid var(--bright);
	border-radius: var(--radius);
	color: var(--bright);
	transition: color var(--elementTransition) ease;
}

#exerciseAdd:hover,
.fluidLeftButton:hover {
	color: var(--dark);
	cursor: pointer;
}

#infoTypeUpNext,
#infoTypeFlavorText,
#infoTypeNone {
	color: var(--bright);
}

#infoTypeUpNext:hover,
#infoTypeFlavorText:hover,
#infoTypeNone:hover {
	cursor: pointer;
}

.activeFluidButton {
	color: var(--dark) !important;
}

/* EXERCISE */

#movementName {
	display: inline-block;
	text-transform: capitalize;
	width: 60%;
	font-size: 150px;
	font-weight: 700;
	color: var(--ultraDark);
	margin-bottom: 40px;
}

#movementDetails {
	display: inline-block;
	width: 100%;
	font-size: 40px;
	font-weight: 700;
	color: var(--dark);
	margin-bottom: 40px;
}

#movementNotes,
#movementNotesMobile {
	font-size: 20px;
	color: var(--dark);
}

#movementNotes {
	display: inline-block;
	position: absolute;
	width: 30%;
	text-align: right;
	width: 30%;
	top: 200px;
	right: 150px;
	vertical-align: top;
}

#movementNotesMobile {
	display: none;
	width: 60%;
}

#movementClock,
#pausedClock,
#totalClock {
	display: inline-block;
	position: absolute;
	width: auto;
	height: 35px;
	bottom: 60px;
	font-size: 30px;
	color: var(--ultraBright);
}

#movementClock {
	bottom: calc(150px + 60px);
	left: 150px;
	text-align: left;
}

#pausedClock {
	bottom: 100px;
}

#pausedClock::before {
	content: "+ ";
}

#totalClock,
#pausedClock {
	right: 0;
	text-align: right;
}

#totalClock {
	color: var(--dark);
}

#nextMovement,
#pauseTimer {
	display: flex;
	position: absolute;
	width: 150px;
	height: 50px;
	right: 150px;
	bottom: 25px;
	transform: translate(0%, -50%);
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	color: var(--dark);
	font-size: 16px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	transition: background-color var(--elementTransition) ease;
}

#nextMovement:hover {
	background-color: var(--bright);
	cursor: pointer;
}

#pauseTimer {
	right: calc(150px + 150px + 10px);
	background-color: transparent;
	border: 1px solid var(--bright);
	color: var(--bright);
	transition: color var(--elementTransition) ease;
}

#pauseTimer:hover {
	color: var(--dark);
	cursor: pointer;
}

/* TRACKER */

#tracker {
	display: none;
	position: absolute;
	width: calc(100% - 300px);
	height: 60px;
	bottom: 150px;
	left: 150px;
	opacity: 0;
	transition: opacity var(--elementTransition) ease;
}

#progressNumbers {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 100%;
	bottom: -42%;
	transform: translateX(-50%);
	transition: left var(--elementTransition) ease;
}

#progressFraction,
#progressPercentage {
	display: inline-block;
	position: absolute;
	font-size: 14px;
	color: var(--dark);
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
}

#progressPercentage {
	top: 100%;
}

#progressBar,
#progressFill {
	position: absolute;
	width: 100%;
	height: 10px;
	bottom: 0;
	left: 0;
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	z-index: 0;
}

#progressFill {
	background-color: var(--dark);
	width: 0%;
	z-index: 1;
	transition: width var(--elementTransition) ease;
}

/*-----------MEDIA-----------*/

@media (max-width: 1400px) {
	#main {
		padding: 80px;
	}

	#introTitle,
	#infoTitle,
	#resultTitle {
		font-size: 72px;
	}

	#introDescription,
	#resultDescription {
		font-size: 18px;
	}

	#infoBox {
		width: calc(100% - 80px);
		height: calc(100% - 80px);
	}

	#movementName {
		font-size: 72px;
	}

	#movementNotes {
		top: 100px;
		right: 80px;
	}

	#movementClock {
		left: 80px;
	}

	#tracker {
		width: calc(100% - 160px);
		left: 80px;
	}

	#nextMovement {
		right: 80px;
	}

	#pauseTimer {
		right: calc(80px + 150px + 10px);
	}
}

@media (max-width: 900px),
	   (max-height: 600px) {
	#main {
		padding: 40px;
	}

	#movementName {
		width: 100%;
	}

	#movementNotes {
		display: none;
	}

	#movementNotesMobile {
		display: inline-block;
	}

	#movementDetails {
		font-size: 30px;
	}

	#movementClock {
		left: 40px;
	}

	#tracker {
		width: calc(100% - 80px);
		left: 40px;
	}

	#nextMovement {
		right: 40px;
	}

	#pauseTimer {
		right: calc(40px + 150px + 10px);
	}

	#infoTitle {
		font-size: 48px;
		margin-bottom: 20px;
	}

	#infoText {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	#nextMovement {
		width: calc(50% - 5px - 40px);
		right: 40px;
	}

	#pauseTimer {
		width: calc(50% - 5px - 40px);
		left: 40px;
	}
}

@media (max-height: 600px) and (max-width: 1400px) {
	#introTitle,
	#resultTitle,
	#introDescription,
	#resultDescription {
		margin-bottom: 20px;
	}

	#exerciseList,
	#optionsList {
		margin-bottom: 20px;
	}

	#movementNotes,
	#movementNotesMobile {
		display: none;
	}
}