/* CORE */

:root {
	--background: #f7f7f7;

	--ultraBright: #ddd;
	--bright: #ccc;
	--dark: #888;
	--ultraDark: #333;
	
	--timerRed: #b92d2d;
	--timerYellow: #dca32d;
	--timerGreen: #4db52f;

	--radius: 7px;
	--screenTransition: 1s;
	--elementTransition: 0.5s;

	--titleTextSize: 110px;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-weight: 400;
	padding: 0;
	margin: 0;
	background-color: black;
}

*,:before,:after {
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Roboto";
	background-color: var(--background);
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-moz-selection {
	color: black;
	background: var(--bright);
}

::selection {
	color: black;
	background: var(--bright);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--dark);
}

#info {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-decoration: none;
	font-size: 12px;
	transition: color var(--elementTransition) ease;
	color: var(--bright);
}

#info:hover {
	color: var(--dark);
	cursor: pointer;
}

#infoBox {
	display: none;
	position: absolute;
	width: calc(100% - 300px);
	height: calc(100% - 300px);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	padding: 20px;
	z-index: 2;
	transition: opacity var(--screenTransition) ease;
	opacity: 0;
}

#infoTitle {
	margin: 0;
	margin-bottom: 40px;
	color: var(--ultraDark);
	font-size: var(--titleTextSize);
	font-weight: 700;
}

#infoText {
	margin: 0;
	color: var(--dark);
	font-size: 16px;
}

.infoLink {
	color: var(--ultraDark);
}

/* SCREENS */

#main {
	width: calc(100% - 300px);
	height: calc(100% - 300px);
	padding: 150px;
}

#intro,
#preparation,
#exercise,
#results {
	display: none;
	position: absolute;
	width: calc(100% - 300px);
	height: calc(100% - 300px);
	visibility: hidden;
	transition: opacity var(--screenTransition) ease;
	opacity: 0;
}

#intro {
	display: inline-block;
	visibility: visible;
	opacity: 1;
}

/* INTRO */

#introTitle {
	display: inline-block;
	width: 100%;
	font-size: var(--titleTextSize);
	font-weight: 700;
	margin-bottom: 40px;
	color: var(--ultraDark);
}

#introDescription {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	margin-bottom: 40px;
	color: var(--dark);
}

#exerciseList,
#optionsList {
	display: none;
	height: 40%;
	transition: opacity var(--screenTransition) ease;
	opacity: 0;
	text-align: center;
}

#exerciseList {
	display: inline-block;
	position: relative;
	min-width: 300px;
	opacity: 1;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#exerciseList::-webkit-scrollbar {
	width: 6px;
	background-color: var(--background);
}

#exerciseList::-webkit-scrollbar-thumb {
	background-color: var(--dark);
}

#introButtons {
	position: absolute;
	width: 450px;
	height: 60px;
	bottom: -125px;
	right: 0px;
}

#optionsPlan,
#start {
	display: flex;
	position: absolute;
	width: 100px;
	height: 50px;
	left: calc(50% + 5px);
	bottom: 0px;
	transform: translate(0%, 0%);
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	color: var(--dark);
	font-size: 16px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	transition: background-color var(--elementTransition) ease;
}

#start:hover {
	background-color: var(--bright);
	cursor: pointer;
}

#optionsPlan {
	left: calc(50% - 5px);
	transform: translate(-100%, 0%);
	background-color: transparent;
	border: 1px solid var(--bright);
	color: var(--bright);
	transition: color var(--elementTransition) ease;
}

#optionsPlan:hover {
	color: var(--dark);
	cursor: pointer;
}

.musclesWarning {
	font-size: 14px;
	color: var(--bright);
}

.listElement {
	display: inline-block;
	width: 100%;
	min-height: 35px;
	margin-bottom: 20px;
	vertical-align: top;
}

.fluidField,
.fluidDropdown,
.exerciseDrag,
.exerciseComma,
.exerciseText,
.exerciseOR {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
	height: 35px;
	color: var(--dark);
	font-size: 16px;
	vertical-align: top;
}

.fluidField,
.fluidDropdown {
	border: none;
	background-color: transparent;
	line-height: normal;
	text-align: center;
	
}

.fluidField {
	border: none;
	background-color: transparent;
	line-height: normal;
	text-align: center;
	width: 30px;
}

.fluidField:focus {
	outline: none;
}

.fluidField,
.fluidDropdown {
	border-bottom: solid 1px var(--dark);
}

.exerciseText {
	line-height: 35px;
}

.exerciseComma {
	line-height: 60px;
}

.exerciseDrag {
	color: var(--bright);
	transition: color var(--elementTransition) ease;
}

.exerciseDrag:hover {
	color: var(--dark);
	cursor: pointer;
}

#exerciseAdd {
	display:  flex;
	position: relative;
	width: 80px;
	height: 40px;
	left: 50%;
	margin-bottom: 20px;
	transform: translate(-50%, 0%);
	align-items: center;
	justify-content: center;
	border: 1px solid var(--bright);
	border-radius: var(--radius);
	color: var(--bright);
	transition: color var(--elementTransition) ease;
}

#exerciseAdd:hover {
	color: var(--dark);
	cursor: pointer;
}

/* EXERCISE */

#movementName {
	display: inline-block;
	text-transform: capitalize;
	width: 60%;
	font-size: 200px;
	font-weight: 700;
	color: var(--ultraDark);
	margin-bottom: 40px;
}

#movementDetails {
	display: inline-block;
	width: 50%;
	font-size: 40px;
	font-weight: 700;
	color: var(--dark);
}

#movementNotes {
	display: inline-block;
	position: absolute;
	top: 8%;
	right: 0;
	text-align: right;
	width: 30%;
	font-size: 20px;
	color: var(--dark);
}

#movementClock,
#pausedClock,
#totalClock {
	display: inline-block;
	position: absolute;
	width: 100px;
	height: 35px;
	bottom: 60px;
	width: 20%;
	font-size: 30px;
	color: var(--ultraBright);
}

#movementClock {
	left: 0;
	text-align: left;
}

#pausedClock {
	bottom: 100px;
}

#pausedClock::before {
	content: "+ ";
}

#totalClock,
#pausedClock {
	right: 0;
	text-align: right;
}

#totalClock {
	color: var(--dark);
}

#nextMovement,
#pauseTimer {
	display: flex;
	position: absolute;
	width: 150px;
	height: 50px;
	bottom: -125px;
	right: 0px;
	transform: translate(0%, -50%);
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	color: var(--dark);
	font-size: 16px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	transition: background-color var(--elementTransition) ease;
}

#nextMovement:hover,
#pauseTimer:hover {
	background-color: var(--bright);
	cursor: pointer;
}

#pauseTimer {
	right: 170px;
}

/* TRACKER */

#tracker {
	display: none;
	visibility: hidden;
	position: absolute;
	width: calc(100% - 300px);
	height: 60px;
	bottom: 150px;
	opacity: 0;
	transition: opacity var(--elementTransition) ease;
}

#progressNumbers {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 100%;
	bottom: -42%;
	transform: translateX(-50%);
	transition: left var(--elementTransition) ease;
}

#progressFraction,
#progressPercentage {
	display: inline-block;
	position: absolute;
	font-size: 14px;
	color: var(--dark);
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
}

#progressPercentage {
	top: 100%;
}

#progressBar,
#progressFill {
	position: absolute;
	width: 100%;
	height: 10px;
	bottom: 0;
	left: 0;
	background-color: var(--ultraBright);
	border-radius: var(--radius);
	z-index: 0;
}

#progressFill {
	background-color: var(--dark);
	width: 0%;
	z-index: 1;
	transition: width var(--elementTransition) ease;
}

/* RESULTS */

#resultText {
	display: inline-block;
	width: 100%;
	font-size: var(--titleTextSize);
	font-weight: 700;
	margin-bottom: 40px;
	color: var(--ultraDark);
}

#resultFinal {
	display: inline-block;
	font-size: 20px;
	margin-bottom: 40px;
	color: var(--dark);
	visibility: hidden;
	opacity: 0;
	transition: opacity var(--screenTransition) ease;
}